$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

//

body{
  background-color: $color4;
  color: $color5;
}

body> h1{ 
  height: 250px;
  line-height: 250px;
  margin-top: 0px;
  display: block;
  background-image: url(../images/home.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: $color2;
  font-family: cursive;
}

section {
  margin: 10px 50px;
  width: 75%;
}


.contact{
  position: absolute;
  right: 10px;
  top: 270px;

  width: 350px;
  margin: auto;
  text-align: center;
  border: solid $color2 1px;
  border-radius: 10px;
  h1{
    color: $color2;
    font-size: 1.5em;
    font-family: cursive;
  }
  a{
    color: $color3;
    &:before{
      margin-right: 3px; 
    }
  }
  a{
    @extend .glyphicon;
    @extend .glyphicon-phone-alt;
  }
  a[href^="tel:06"]{
    @extend .glyphicon;
    @extend .glyphicon-phone;
  }

  a[href^="mailto:"]{
    @extend .glyphicon;
    @extend .glyphicon-envelope;
  }

  a[href^="http:"]{
    @extend .glyphicon;
    @extend .glyphicon-globe;
  }
}

.activity li li{
  display: table-row;
  & >*{
    display: table-cell;
    padding-left: 50px;
  }
  &.and-more{
    display: inline-block;
  }
}

.time{
  margin-left: 30px;
  @extend .glyphicon;
  @extend .glyphicon-time;

}
/* Responsive: Portrait tablets and up */
@media screen and (max-width: 768px) {
 
  .contact, #content,  nav, nav ul, nav ul li{
    display: inherit;
    position: inherit;
  }
  h1{
    font-size: 2.2em;
    text-align: center;
    display: inline-block;
    width: 100%;
  }
  .contact{
    margin: 25px;
  }
  
}
